$base-font-size:16px;

$primar-color-border:#FF7757;
$secondary-color:#FFF;
$secondary-color-font:#767E86;
$input-font-color:#172432;
$primary-font-color:#FFF;
$third-color-font:#172432;
$imgs-path:'../images';

html, body{
  font-size: $base-font-size;
}