$base-font-size:16px;

$black-color:#000;
$background-email-color: #FFE8D4;
$primar-color-border:#FF7757;
$secondary-color:#FFF;
$secondary-color-font:#767E86;
$input-font-color:#172432;
$primary-font-color:#FFF;
$third-color-font:#172432;
$background-color-for-offer: #FFF8F1;
$imgs-path:'../images';
$font-family-text: Rubik, sans-serif;
$font-family-titles: 'Playfair Display';
$background-comment-color:#F5F6F7;

html, body{
  font-size: $base-font-size;
}